
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: solid #fff;
  border-radius:25px;
  background:#24A1EE;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font:normal 25px Helvetica, sans-serif;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FF6E6E;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.box-1 a{
    list-style-type:none;
    margin:0px;
    padding:0px;
    color:#fff;
    text-decoration:none;
}

.box-1 a:hover{
    color:#7CC1EB;
}

.box-2{
    font:normal 14px Helvetica, sans-serif;
    color:#9CA2A5;
    text-align:left;
}

.box-2 h1{
    font:24px Helvetica, sans-serif;
    color:#000;
}

.box-2 h2{
    font: normal 18px Helvetica, sans-serif;
    color:#9CA2A5;
    margin:5px;
}

.box-3{
    background-color:#E0E0E0;
    color: #000;
    font: normal 30px Helvetica, sans-serif;
    padding:20px;
}

.box-4{
    font: normal 18px Helvetica, sans-serif;
    padding:20px;
}

.box-4 a:link{
    color:#24A1EE;
    text-decoration:none;
}

.box-4 a:hover{
    color:#7CC1EB;
}

.box-5 h1{
    font: normal 24px Helvetica, sans-serif;
    color:#fff;
    text-align:center;
    border:solid #fff;
    border-radius: 25px;
    background: #24A1EE;
    padding: 20px 0;
    width: 100px;
    height: 50px;
}

.box-6{
    font:normal 14px Helvetica, sans-serif;
    color:#9CA2A5;
}

.box-6 a{
    color:#24A1EE;
    text-decoration:none;
    padding:50px;
}

.box-6 a:hover{
    color:#F93D29;
    text-decoration:underline;
}

.box-6 p{
    padding:50px;
}

.box-6 h1{
    font: normal 24px Helvetica, sans-serif;
    color:#000;
    color:#24A1EE;
}

.box-7 h2{
    font: normal 24px Helvetica, sans-serif;
    color:#fff;
    text-align:center;
    border:solid #fff;
    border-radius: 25px;
    background: #24A1EE;
    padding: 20px 0;
    width: 100px;
    height: 30px;
}

.box-8{
    font: normal 14px Helvetica, sans-serif;
    color:#9CA2A5;
}

.box-8 a1{
    padding:20px;
}

.box-8 a1:hover{
    border: solid #9CA2A5;
    border-radius:25px;
    height:40px;
}

.box-8 a{
    padding:20px;
}

.box-8 a:hover{
    border: solid #9CA2A5;
    border-radius:25px;
    height:40px;
}

.footer {
  background-color: #24A1EE;
  padding: 10px;
  font: normal 18px Helvetica, sans-serif;
  color:#fff;
  text-align:center;
  border:solid #24A1EE;
  border-radius: 25px;
}

.footer a{
  font: normal 18px Helvetica, sans-serif;
  color:#fff;
  text-align:center;
  text-decoration:none;
  margin: 10px;
}

.footer a:hover{
    color: #FF6E6E;
    text-decoration: underline;
}

body {
    width: 320px;
    font: 12pt Helvetica, sans-serif;
}

img, table {
    max-width: 320px;
}